h1
{
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

img
{
    border-style: solid;
    height: 300px;
    width: 20%;
}

body
{
    font-family: inherit;
    background-color: lightgreen;
    
}

table tr td{
    border: 2px solid black;
    padding: 2%;
    background-color: white;
}

i{
    font-size: larger;
}

b{
    font-size: larger;
}